{% extends "public_sources/baseIndex.html" %}
{% block title %}首页{% endblock %}
{% block jscs %}
<link rel="stylesheet" type="text/css" href="/static/public_sources/vs.min.css">
<script src="/static/public_sources/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<style>
    .normalSection{
        width: 100vw;
        margin: 0;
        position: relative;
    }
    .inner{
        overflow: hidden;
        margin: 0;
        padding: 0;
        height: min-content;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        position: relative;
        padding-bottom: 80px;
    }
    .projectinfo_section{
        background-color: rgb(238, 238, 238);
    }
    .projectinfo_section .title{
        font-size: 34px;
        width: max-content;
        padding-bottom: 5px;
        border-bottom: rgb(107, 43, 226) 5px solid;
    }
    .projectinfo_section .author{
        height: 100px;
    }
    .projectinfo_section .author img{
        position: absolute;
        width: 90px;
        height: 90px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
    }
    .projectinfo_section .author span{
        position: absolute;
        left: 110px;
        line-height: 90px;
        font-size: 17px;
    }
    .projectinfo_section .type{
        font-size: 13px;
        color: gray;
    }
    .projectinfo_section .img_holder{
        overflow: hidden;
        position: absolute;
        top: 10%;
        right: 30px;
        height: 80%;
        border-radius: 10px;
        width: 300px;
    }
    .projectinfo_section .project_img{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .projectinfo_section .download{
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 20px;
        padding: 7px;
        background-color: rgb(107, 43, 226);
        text-decoration: none;
        color: white;
        border-radius:20px;
    }

    .comment_section{
        background-color: rgb(238, 238, 238);
        padding-top: 20px;
    }
    .comment_section textarea{
        width: 100%;
        height: 200px;
        resize: none;
        border: none;
        outline: none;
    }
    .comment_section .submit{
        margin-bottom: 10px;
        margin-top: 10px;
        line-height: 20px;
        padding: 7px;
        background-color: rgb(201, 201, 201);
        text-decoration: none;
        color: rgb(0, 0, 0);
        border-radius:5px;
        border: none;
        outline: none;
        position: absolute;
        right:0;
    }
    .comment_section .commentsContainer{
        margin-top: 30px;
    }
    .comment_section .commentDiv{
        margin-top: 60px;
    }
    .comment_section .commentsContainer .commentBox{
        position: relative;
    }
    .comment_section .commentsContainer .commentBox .date{
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10px;
        color: gray;
    }
    .comment_section .commentsContainer .commentBox .author{
        position: relative;
        line-height: 35px;
    }
    .comment_section .commentsContainer .commentBox .author span{
        padding-left: 40px;
    }
    .comment_section .commentsContainer .commentBox .author img{
        position: absolute;
        width: 35px;
        height: 35px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        left: 0;
        top: 0;
    }
    .comment_section .commentsContainer .commentBox pre{
        background-color: white;
        padding: 5px;
        border-radius: 4px;
    }
</style>
{% endblock %}
{% block content %}
<section class="projectinfo_section normalSection">
    <div class="inner">
        <p class="title">{{project.title}}</p>
        <p class="author"><img src="/static/users/headPictures/{{project.author_head_portrait}}" alt="出错啦"><span>by:{{project.author_name}}</span></p>
        <p>创建时间:<span>{{project.created_time|date:'Y-m-d H:i:s'}}</span></p>
        <p class="type">{{project.type}}</p>
        <a class="download" href="/static/projects/repository/{{project.repository}}" target="_blank">下载源文件</a>
        <div class="img_holder">
            <img class="project_img" src="/static/projects/coverPictures/{{project.cover_portrait}}">
        </div>
    </div>
</section>
<section class="code_section normalSection">
    <div class="inner">
        <pre><code>{{project.code}}</code></pre>
    </div>
</section>
<section class="comment_section normalSection">
    <div class="inner">
        <form action="{% url 'addcommentaction' %}" method="POST">
            {% csrf_token %}
            <textarea name="content" maxlength="255" required="required">

            </textarea>
            <input type="hidden" name="projectId" value="{{project.id}}">
            <input class="submit" type="submit">
        </form>
        <hr class="commentDiv">
        <div class="commentsContainer">
            {% for comment in commentsList %}
            <div class="commentBox">
                <p class="date">{{comment.created_time|date:'Y-m-d H:i:s'}}</p>
                <p class="author"><img src="/static/users/headPicturesSmall/{{comment.author_head_portrait}}"><span>{{comment.author_name}}:</span></p>
                <pre class="content">{{comment.content}}</pre>
                <hr>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
